<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<web-app>
    <servlet>
        <servlet-name>FrontController</servlet-name>
        <servlet-class>controller.FrontController</servlet-class>
        <init-param>
            <param-name>place</param-name>
            <param-value>E:/ecole/projet-naina/web/fichier/</param-value>
        </init-param>
        <multipart-config>
            <location>E:/ecole/projet-naina/web/fichier/</location>
            <max-file-size>10485760</max-file-size>
            <max-request-size>524528800</max-request-size>
            <file-size-threshold>1048576</file-size-threshold>
        </multipart-config>
    </servlet>
    <servlet-mapping>
        <servlet-name>FrontController</servlet-name>
        <url-pattern>*.do</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
